In [12]:
# Importing libraries
import pandas as pd
import numpy as np

In [25]:
# Loading adult data set
df = pd.read_csv('adult Data Set.csv', skipinitialspace = True)
df.head(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary_range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
36,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
37,19,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
39,48,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
40,31,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
42,24,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
43,49,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
44,25,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
49,29,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K

#### 1. Shape of dataset

In [26]:
df.shape

(32561, 15)

There are total 15 columns in the dataset with 32561 entries.

#### 2. Print column names

In [27]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Salary_range'],
      dtype='object')

#### 3. How many men and women (sex feature) are represented in this dataset?

In [28]:
df.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

There are 21790 males and 10771 females in the dataset.

#### 4. What is the average age (age feature) of women?

In [29]:
df.age.mean()

38.58164675532078

The average age of the adults in the dataset is 38.58 ~ 39

#### 5. What is the percentage of German citizens (native-country feature)?

In [32]:
((df['native-country'] == 'Germany').sum())/len(df)*100

0.42074874850281013

#### 6. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

##### Who earn more than 50K per year

In [33]:
df[df['Salary_range'] == '>50K']['age'].mean()

44.24984058155847

In [34]:
df[df['Salary_range'] == '>50K']['age'].std()

10.51902771985177

##### Who earn less than 50K per year

In [35]:
df[df['Salary_range'] == '<=50K']['age'].mean()

36.78373786407767

In [36]:
df[df['Salary_range'] == '<=50K']['age'].std()

14.020088490824813

#### 7. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [39]:
df[df['Salary_range'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

No, this is not true, as there are also people who earn more that 50K and lies in the category of educational qualification below high school.

#### 8. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [41]:
df.groupby(['race', 'sex'])[['age']].describe()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0


                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Maximum age of men of Amer-Indian-Eskimo race is 82.

#### 9. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [46]:
df[(df['sex'] == 'Male') & (df['marital-status'].str.startswith('Married'))]['Salary_range'].value_counts()

<=50K    7576
>50K     5965
Name: Salary_range, dtype: int64

In [48]:
df[(df['sex'] == 'Male') & ~(df['marital-status'].str.startswith('Married'))]['Salary_range'].value_counts()

<=50K    7552
>50K      697
Name: Salary_range, dtype: int64

The proportion of men who earn >50K are are married is greater than single men.

#### 10. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [51]:
max_hours = df['hours-per-week'].max()
max_hours

99

The maximum number of hours a person works per week is 99 hours.

In [52]:
df[df['hours-per-week'] == max_hours]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary_range
935,37,Private,176900,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,99,United-States,>50K
1172,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
1887,55,Self-emp-not-inc,184425,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,>50K
3578,37,Self-emp-inc,382802,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,99,United-States,>50K
4086,50,?,174964,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,99,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30992,40,Self-emp-inc,104235,Masters,14,Never-married,Other-service,Own-child,White,Male,0,0,99,United-States,<=50K
31681,43,Private,266324,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,99,United-States,>50K
31699,43,Self-emp-not-inc,163108,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,<=50K
32469,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K

In [55]:
df[(df['hours-per-week'] == max_hours) & (df['Salary_range'] == '>50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary_range
935,37,Private,176900,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,99,United-States,>50K
1172,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
1887,55,Self-emp-not-inc,184425,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,>50K
3578,37,Self-emp-inc,382802,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,99,United-States,>50K
4441,43,Self-emp-inc,286750,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,99,United-States,>50K
8393,50,Self-emp-inc,119099,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,>50K
8796,39,Private,70995,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,White,Male,15024,0,99,United-States,>50K
10986,38,Private,111499,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,1977,99,United-States,>50K
13558,38,Private,191103,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,United-States,>50K
13858,37,Private,51264,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,France,>50K
15460,37,Private,241174,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,99,United-States,>50K
16604,73,Self-emp-not-inc,102510,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,6418,0,99,United-States,>50K
21147,39,Private,348521,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,99,United-States,>50K
22720,39,Private,237713,Prof-school,15,Married-civ-spouse,Sales,Husband,White,Male,0,2415,99,United-States,>50K
23649,45,Private,390368,Some-college,10,Married-civ-spouse,Sales,Husband,Black,Male,15024,0,99,United-States,>50K
24483,39,Self-emp-inc,124685,Masters,14,Divorced,Exec-managerial,Not-in-family,Asian-Pac-Islander,Male,0,0,99,Japan,>50K
25713,32,Private,183304,Assoc-voc,11,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,99,United-States,>50K
25831,31,Private,147284,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,99,United-States,>50K
26596,35,Private,297574,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,>50K
29187,31,Private,178370,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,0,99,United-States,>50K
29989,43,Local-gov,118853,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,4386,0,99,United-States,>50K
30036,40,Private,25005,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,99,United-States,>50K
30610,51,Self-emp-not-inc,24790,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,United-States,>50K
30766,42,Self-emp-not-inc,39539,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,99,United-States,>50K
31681,43,Private,266324,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,99,United-States,>50K

#### 11. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [61]:
countries = df['native-country'].unique()
# For those who earn less
for cou in countries:
    mean_hour = df[df['Salary_range'] == '<=50K']['hours-per-week'].mean()
    print(cou , " - " , mean_hour)

United-States  -  38.840210355987054
Cuba  -  38.840210355987054
Jamaica  -  38.840210355987054
India  -  38.840210355987054
?  -  38.840210355987054
Mexico  -  38.840210355987054
South  -  38.840210355987054
Puerto-Rico  -  38.840210355987054
Honduras  -  38.840210355987054
England  -  38.840210355987054
Canada  -  38.840210355987054
Germany  -  38.840210355987054
Iran  -  38.840210355987054
Philippines  -  38.840210355987054
Italy  -  38.840210355987054
Poland  -  38.840210355987054
Columbia  -  38.840210355987054
Cambodia  -  38.840210355987054
Thailand  -  38.840210355987054
Ecuador  -  38.840210355987054
Laos  -  38.840210355987054
Taiwan  -  38.840210355987054
Haiti  -  38.840210355987054
Portugal  -  38.840210355987054
Dominican-Republic  -  38.840210355987054
El-Salvador  -  38.840210355987054
France  -  38.840210355987054
Guatemala  -  38.840210355987054
China  -  38.840210355987054
Japan  -  38.840210355987054
Yugoslavia  -  38.840210355987054
Peru  -  38.840210355987054
Outlying-US(Guam-USVI-etc)  -  38.840210355987054
Scotland  -  38.840210355987054
Trinadad&Tobago  -  38.840210355987054
Greece  -  38.840210355987054
Nicaragua  -  38.840210355987054
Vietnam  -  38.840210355987054
Hong  -  38.840210355987054
Ireland  -  38.840210355987054
Hungary  -  38.840210355987054
Holand-Netherlands  -  38.840210355987054

In [63]:
# For those who earn a lot
for cou in countries:
    mean_hour = df[df['Salary_range'] == '>50K']['hours-per-week'].mean()
    print(cou , " - " , mean_hour)

United-States  -  45.473026399693914
Cuba  -  45.473026399693914
Jamaica  -  45.473026399693914
India  -  45.473026399693914
?  -  45.473026399693914
Mexico  -  45.473026399693914
South  -  45.473026399693914
Puerto-Rico  -  45.473026399693914
Honduras  -  45.473026399693914
England  -  45.473026399693914
Canada  -  45.473026399693914
Germany  -  45.473026399693914
Iran  -  45.473026399693914
Philippines  -  45.473026399693914
Italy  -  45.473026399693914
Poland  -  45.473026399693914
Columbia  -  45.473026399693914
Cambodia  -  45.473026399693914
Thailand  -  45.473026399693914
Ecuador  -  45.473026399693914
Laos  -  45.473026399693914
Taiwan  -  45.473026399693914
Haiti  -  45.473026399693914
Portugal  -  45.473026399693914
Dominican-Republic  -  45.473026399693914
El-Salvador  -  45.473026399693914
France  -  45.473026399693914
Guatemala  -  45.473026399693914
China  -  45.473026399693914
Japan  -  45.473026399693914
Yugoslavia  -  45.473026399693914
Peru  -  45.473026399693914
Outlying-US(Guam-USVI-etc)  -  45.473026399693914
Scotland  -  45.473026399693914
Trinadad&Tobago  -  45.473026399693914
Greece  -  45.473026399693914
Nicaragua  -  45.473026399693914
Vietnam  -  45.473026399693914
Hong  -  45.473026399693914
Ireland  -  45.473026399693914
Hungary  -  45.473026399693914
Holand-Netherlands  -  45.473026399693914

#### For Japan

In [64]:
# For those who earn less
df[(df['Salary_range'] == '<=50K') & (df['native-country'] == 'Japan')]['hours-per-week'].mean()

41.0

In [65]:
# For those who earn a lot
df[(df['Salary_range'] == '>50K') & (df['native-country'] == 'Japan')]['hours-per-week'].mean()

47.958333333333336