In [1]:
# Importing libraries
import numpy as np
import pandas as pd

### Load NYCFlights dataset

In [12]:
data = pd.read_csv('flight_data.csv')
data.head(5)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00

#### 1. List all flights scheduled for 1 Jan

In [13]:
data[data['time_hour'].str.startswith('1/1')]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84143,2013,12,1,NaN,830,NaN,NaN,1039,NaN,9E,3385,NaN,EWR,MSP,NaN,1008,8,30,1/12/2013 8:00
84144,2013,12,1,NaN,2229,NaN,NaN,2343,NaN,B6,234,N192JB,JFK,BTV,NaN,266,22,29,1/12/2013 22:00
84145,2013,12,1,NaN,631,NaN,NaN,742,NaN,EV,4194,N13975,EWR,DCA,NaN,199,6,31,1/12/2013 6:00
84146,2013,12,1,NaN,620,NaN,NaN,826,NaN,EV,5178,N614QX,EWR,MSP,NaN,1008,6,20,1/12/2013 6:00
84147,2013,12,1,NaN,700,NaN,NaN,834,NaN,UA,643,NaN,EWR,ORD,NaN,719,7,0,1/12/2013 7:00

#### 2. Find flights that were not delayed more than 2 hours

In [14]:
data[data['dep_delay'] < 2]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,1/1/2013 5:00
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,1/1/2013 6:00
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,1/1/2013 6:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336764,2013,9,30,2237.0,2245,-8.0,2345.0,2353,-8.0,B6,234,N318JB,JFK,BTV,43.0,266,22,45,30-09-2013 22:00
336765,2013,9,30,2240.0,2245,-5.0,2334.0,2351,-17.0,B6,1816,N354JB,JFK,SYR,41.0,209,22,45,30-09-2013 22:00
336766,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,B6,2002,N281JB,JFK,BUF,52.0,301,22,50,30-09-2013 22:00
336767,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,B6,486,N346JB,JFK,ROC,47.0,264,22,46,30-09-2013 22:00
336769,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,23,59,30-09-2013 23:00

#### 3. Find all flights

##### a. Had an delay of 2 or more hours

In [11]:
data[data['dep_delay'] >= 2]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
25,2013,1,1,608.0,600,8.0,807.0,735,32.0,MQ,3768,N9EAMQ,EWR,ORD,139.0,719,6,0,1/1/2013 6:00
26,2013,1,1,611.0,600,11.0,945.0,931,14.0,UA,303,N532UA,JFK,SFO,366.0,2586,6,0,1/1/2013 6:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336759,2013,9,30,2207.0,2140,27.0,2257.0,2250,7.0,MQ,3660,N532MQ,LGA,BNA,97.0,764,21,40,30-09-2013 21:00
336760,2013,9,30,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,30-09-2013 20:00
336762,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,30-09-2013 21:00
336763,2013,9,30,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,30-09-2013 20:00
336768,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,30-09-2013 22:00

##### b. Flew to Houston (IAH or HOU)

In [15]:
data[data['dest'] == ('IAH' or 'HOU')]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
32,2013,1,1,623.0,627,-4.0,933.0,932,1.0,UA,496,N459UA,LGA,IAH,229.0,1416,6,27,1/1/2013 6:00
81,2013,1,1,728.0,732,-4.0,1041.0,1038,3.0,UA,473,N488UA,LGA,IAH,238.0,1416,7,32,1/1/2013 7:00
89,2013,1,1,739.0,739,0.0,1104.0,1038,26.0,UA,1479,N37408,EWR,IAH,249.0,1400,7,39,1/1/2013 7:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336487,2013,9,30,1701.0,1704,-3.0,1939.0,1958,-19.0,UA,525,N458UA,LGA,IAH,182.0,1416,17,4,30-09-2013 17:00
336524,2013,9,30,1729.0,1720,9.0,2001.0,2010,-9.0,UA,652,N455UA,EWR,IAH,173.0,1400,17,20,30-09-2013 17:00
336618,2013,9,30,1859.0,1859,0.0,2134.0,2159,-25.0,UA,1128,N14731,LGA,IAH,180.0,1416,18,59,30-09-2013 18:00
336694,2013,9,30,2015.0,2015,0.0,2244.0,2307,-23.0,UA,1545,N17730,EWR,IAH,174.0,1400,20,15,30-09-2013 20:00
336737,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,30-09-2013 21:00

##### c. Were operated by Unites, American or Delta

In [17]:
data['carrier'].unique()

array(['UA', 'AA', 'B6', 'DL', 'EV', 'MQ', 'US', 'WN', 'VX', 'FL', 'AS',
       '9E', 'F9', 'HA', 'YV', 'OO'], dtype=object)

In [19]:
data[data['carrier'] == ('UA' or 'AA' or 'DL')]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,1/1/2013 5:00
12,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,1/1/2013 6:00
13,2013,1,1,558.0,600,-2.0,923.0,937,-14.0,UA,1124,N53441,EWR,SFO,361.0,2565,6,0,1/1/2013 6:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336723,2013,9,30,2052.0,2059,-7.0,2315.0,2358,-43.0,UA,1416,N68453,EWR,MCO,123.0,937,20,59,30-09-2013 20:00
336728,2013,9,30,2055.0,2059,-4.0,2158.0,2211,-13.0,UA,1066,N16701,EWR,BOS,40.0,200,20,59,30-09-2013 20:00
336737,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,30-09-2013 21:00
336755,2013,9,30,2149.0,2156,-7.0,2245.0,2308,-23.0,UA,523,N813UA,EWR,BOS,37.0,200,21,56,30-09-2013 21:00
336762,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,30-09-2013 21:00

##### d. Departed in summer (March, April , May)

In [20]:
data[data['month'] == (3 or 4 or 5)]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
136247,2013,3,1,4.0,2159,125.0,318.0,56,142.0,B6,11,N706JB,JFK,FLL,166.0,1069,21,59,1/3/2013 21:00
136248,2013,3,1,50.0,2358,52.0,526.0,438,48.0,B6,707,N794JB,JFK,SJU,198.0,1598,23,58,1/3/2013 23:00
136249,2013,3,1,117.0,2245,152.0,223.0,2354,149.0,B6,608,N328JB,JFK,PWM,48.0,273,22,45,1/3/2013 22:00
136250,2013,3,1,454.0,500,-6.0,633.0,648,-15.0,US,1117,N177US,EWR,CLT,79.0,529,5,0,1/3/2013 5:00
136251,2013,3,1,505.0,515,-10.0,746.0,810,-24.0,UA,475,N527UA,EWR,IAH,199.0,1400,5,15,1/3/2013 5:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165076,2013,3,31,2349.0,2355,-6.0,333.0,338,-5.0,B6,707,N657JB,JFK,SJU,202.0,1598,23,55,31-03-2013 23:00
165077,2013,3,31,2358.0,2359,-1.0,332.0,339,-7.0,B6,727,N608JB,JFK,BQN,195.0,1576,23,59,31-03-2013 23:00
165078,2013,3,31,NaN,1627,NaN,NaN,1734,NaN,EV,4299,N17560,EWR,DCA,NaN,199,16,27,31-03-2013 16:00
165079,2013,3,31,NaN,600,NaN,NaN,725,NaN,EV,5689,N829AS,LGA,IAD,NaN,229,6,0,31-03-2013 06:00
165080,2013,3,31,NaN,929,NaN,NaN,1220,NaN,UA,1597,NaN,EWR,EGE,NaN,1725,9,29,31-03-2013 09:00

##### e. Arrived more than 2 hours late but didn’t leave late

In [23]:
data[(data['arr_delay'] > 2) & (data['dep_delay'] <= 0)]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,1/1/2013 5:00
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,1/1/2013 6:00
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,1/1/2013 6:00
12,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,1/1/2013 6:00
14,2013,1,1,559.0,600,-1.0,941.0,910,31.0,AA,707,N3DUAA,LGA,DFW,257.0,1389,6,0,1/1/2013 6:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336585,2013,9,30,1829.0,1830,-1.0,2152.0,2142,10.0,DL,1543,N707TW,JFK,SEA,355.0,2422,18,30,30-09-2013 18:00
336586,2013,9,30,1829.0,1835,-6.0,2153.0,2148,5.0,AS,5,N528AS,EWR,SEA,341.0,2402,18,35,30-09-2013 18:00
336588,2013,9,30,1832.0,1839,-7.0,2009.0,1957,12.0,EV,4131,N13949,EWR,RIC,53.0,277,18,39,30-09-2013 18:00
336646,2013,9,30,1929.0,1934,-5.0,2146.0,2136,10.0,EV,4370,N18557,EWR,CHS,92.0,628,19,34,30-09-2013 19:00
336758,2013,9,30,2203.0,2205,-2.0,2339.0,2331,8.0,EV,5311,N722EV,LGA,BGR,61.0,378,22,5,30-09-2013 22:00

##### f. Departed between midnight and 6.00 am

In [28]:
data[(data['dep_time'] > 000) & (data['dep_time'] <= 600)]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335802,2013,9,30,557.0,600,-3.0,852.0,923,-31.0,UA,303,N510UA,JFK,SFO,326.0,2586,6,0,30-09-2013 06:00
335803,2013,9,30,558.0,600,-2.0,815.0,829,-14.0,EV,4137,N16981,EWR,ATL,107.0,746,6,0,30-09-2013 06:00
335804,2013,9,30,558.0,600,-2.0,742.0,749,-7.0,DL,731,N337NB,LGA,DTW,83.0,502,6,0,30-09-2013 06:00
335805,2013,9,30,559.0,600,-1.0,NaN,715,NaN,WN,464,N411WN,EWR,MDW,NaN,711,6,0,30-09-2013 06:00
335806,2013,9,30,600.0,600,0.0,844.0,856,-12.0,B6,601,N588JB,JFK,FLL,139.0,1069,6,0,30-09-2013 06:00

#### 4. Sort flights to find most delayed flights

In [35]:
data['dep_delay'].rank(ascending = False)

0         117266.0
1         106296.0
2         117266.0
3         154353.0
4         269284.0
            ...
336771         NaN
336772         NaN
336773         NaN
336774         NaN
336775         NaN
Name: dep_delay, Length: 336776, dtype: float64